---
# Front matter comment to ensure Jekyll properly reads file.
---

#slide-footer {
  position: fixed;
  bottom: 0px;
  left: 10px;
  z-index: 30;
  vertical-align: middle;
  line-height: 22px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #333333;

  a {
    color: #333333;
    text-decoration: none;
    &:hover {
      color: #777777;
      text-decoration: none !important;
    }
  }

  .slide-nav-home {
    background-image: url("/assets/logo.svg");
    background-repeat: no-repeat;
    background-size: 17px 18px;
    padding-left: 22px;
    height: 22px;
  }

  .slide-credits {
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
  }
}
